<%- include('../../fragments/header.ejs'); %>
<nav>
    <ul>
        <li>
            <a href="/product">Просмотр</a>
        </li>
        <li>
            <a href="/product/add">Добавление</a>
        </li>
        <li>
            <a href="/product/edit">Изменение</a>
        </li>
    </ul>
</nav>
<%- include('../../fragments/footer.ejs'); %>