<nav class="nav">
<a class="nav-link" href="/">Продукты</a>
<a class="nav-link" href="/edit">Полное редактирование</a>
<a class="nav-link" href="/partialEdit">Частичное редактирование</a>
<a class="nav-link" href="/add">Добавление</a>
</nav>