<nav class="nav">
<a class="nav-link" href="/">Магазин</a>
<a class="nav-link" href="admin/edit">Полное редактирование</a>
<a class="nav-link" href="admin/partialEdit">Частичное редактирование</a>
<a class="nav-link" href="admin/add">Добавление</a>
</nav>