<%- include('../../components/headerComponent.ejs'); %>
<%- include('./menu.ejs'); %>

<div>
    <h1 class="header-text">
        добавление товара
    </h1>

</div>

<%- include('../../components/footerComponent.ejs'); %>
