<nav class="nav">
<a class="nav-link" href="/product/view">Продукты</a>
<a class="nav-link" href="/product/edit">Редактирование</a>
<a class="nav-link" href="/product/add">Добавление</a>
<a class="nav-link" href="/product/delete">Удаление</a>
</nav>