<nav class="nav">
<a class="nav-link" href="/">Продукты</a>
<a class="nav-link" href="/edit">Редактирование</a>
<a class="nav-link" href="/add">Добавление</a>
<a class="nav-link" href="/delete">Удаление</a>
</nav>