<%- include('../components/headerComponent.ejs'); %>

<ul>
        <nav class="nav">
            <%- include('./product/menu.ejs'); %>
        </nav>
</ul>

<%- include('../components/footerComponent.ejs'); %>
