<%- include('../components/headerComponent.ejs'); %>
<body onload="getProducts()">
<main class="main">
    <h1>
        <a href="/">Home</a>
    </h1>
<%- include('product/menu.ejs'); %>
<div >
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Описание</th>
        </tr>
        <tbody class="response">
        </tbody>
        </thead>
    </table>
</div>
<script src="/scripts/ajax.js"></script>
<%- include('../components/footerComponent.ejs'); %>
