.b-popup {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
}
.b-popup .b-popup-content {
  display: flex;
  margin: 40px auto 0 auto;
  width: 1000px;
  height: auto;
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}


