.main{
    display: flex;
    flex-direction: column;
    width: 1192px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
    margin-right: 1rem;
    font-size: 1.8rem;
}
.header-text{
    margin:60px 0 50px 0;
    text-align: center;
}