<header class="header">
    <div class="header__logo">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">-->
            <circle cx="18.0001" cy="18" r="18" fill="white"/>
            <line x1="4.14548" y1="6.36201" x2="17.9544" y2="15.3492" stroke="#FF0000" stroke-width="2"/>
            <line x1="1.46956" y1="10.9789" x2="16.4695" y2="20.5789" stroke="#FF0000"/>
            <line x1="0.083396" y1="19.8512" x2="16.2749" y2="22.3058" stroke="#FF0000"/>
            <line x1="18.531" y1="22.3049" x2="35.7462" y2="19.9049" stroke="#FF0000"/>
            <line x1="16.8855" y1="15.3426" x2="31.8855" y2="6.34264" stroke="#FF0000" stroke-width="2"/>
            <line x1="18.3451" y1="20.5699" x2="34.5451" y2="10.9699" stroke="#FF0000"/>
            <line x1="16.6" y1="36.0001" x2="16.6" y2="9.15527e-05" stroke="#FF0000" stroke-width="4"/>
        </svg>
    </div>
    <nav class="nav">
        <a class="nav__link" href="#">Home</a>
        <a class="nav__link" href="#">Store</a>
        <a class="nav__link" href="#">News</a>
    </nav>
    <div class="header__search">
        <div class="search">
            <label class="search__label">
                <input class="search__input" placeholder="Search..." type="search">
            </label>
            <div class="search__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5764 18.9986L12.8089 14.2326C10.6525 15.655 7.76938 15.215 6.13553 13.2141C4.50168 11.2133 4.64715 8.30073 6.47224 6.4726C8.30023 4.64699 11.2134 4.50091 13.2149 6.13449C15.2164 7.76806 15.6567 10.6512 14.234 12.8076L18.9995 17.5756L17.5764 18.9986ZM10.0326 7.01259C8.5917 7.01168 7.35081 8.02862 7.06879 9.4415C6.78676 10.8544 7.54216 12.2697 8.87301 12.822C10.2039 13.3742 11.7395 12.9095 12.5408 11.7121C13.3422 10.5147 13.186 8.91806 12.1678 7.8986C11.603 7.32994 10.8341 7.0109 10.0326 7.01259Z"
                          fill="white"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="header__basket">
        basket
    </div>
    <template id="popup">
        <div class="b-popup">
            <div class="b-popup-content">
                <div class="popup-container">
                    <div class="popup-container__top">
                        <div class="name p">name</div>
                        <div class="price p">price</div>
                        <div class="count p">count</div>
                    </div>
                    <div class="popup-container__product"></div>
                </div>
                <button class="button__popup">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41L12.59 0Z"
                              fill="#FFFDFD"/>
                    </svg>
                </button>
            </div>
        </div>
    </template>
    <div class="header__login">
        <div class="login">
            <div class="login__button">
                sign in
            </div>
        </div>
    </div>

</header>