<%- include('../components/headerComponent.ejs'); %>
<body onload="">
<main class="main">
    <h1>
        <a href="/">Home</a>
    </h1>
    <%- include('./product/menu.ejs'); %>
<div>
    <h1 class="header-text">
        удаление товара
    </h1>
</div>
<%- include('../components/footerComponent.ejs'); %>
