<%- include('../components/header.ejs'); %>
<body onload="">
<main class="main">
    <h1>
        <a href="/">Home</a>
    </h1>
    <%- include('../components/menu.ejs'); %>

    <div>
        <h1 class="header-text">
            Частичное редактирование продукта (то , что не хотим , не заполняем)
        </h1>
        <form method="POST">
            <div>
                <label for="id">Индекс товара на изменение</label>
                <input type="text" name="id" id="id">
            </div>
            <div>
                <label for="name">Новое имя</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="count">Новое количество</label>
                <input type="text" name="count" id="count">
            </div>
            <div>
                <label for="price">Новая цена</label>
                <input type="text" name="price" id="price">
            </div>
            <div>
                <label for="description">Новое описание</label>
                <input type="text" name="description" id="description">
            </div>
            <div>
                <button onclick="partialEditProducts()" type="submit">Добавить</button>
            </div>
        </form>
    </div>

    <%- include('../components/footer.ejs'); %>
